@font-face {
    font-family: Geo;
    src: url(../fonts/Geometos.ttf)
}
@font-face {
    font-family: mons-reg;
    src: url(../fonts/Montserrat-Regular.otf)
}
@font-face {
    font-family: mons-lig;
    src: url(../fonts/Montserrat-Light.otf)
}
a:hover,
a:active,
a:focus{
    text-decoration: none;
}
body{
    overflow-x: hidden ;
}
::-webkit-scrollbar {
    height: 0;
    width:4px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #000
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #E42B3C
}
.loader{
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #fff;
    z-index: 2;
    top: 0px;

}
.loader-logo{
    display: inline-block;
    position: absolute;
    top: 220px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    text-align: center;
}
.loader h3{
    color: #4d4d4d;
    font-family: 'Geo';
    font-size: 1em;
}
.loader-logo img{
    width: 80px;
}
.pro-content{
    position: absolute;
    z-index: 1px;
    top: 160px;
}
/* arrows */

.arrow{
    display:inline-block;
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.8);
    border-radius:50%;
    position:absolute;
    top:75px;
/*     left:20px; */
    z-index:1;
    text-align:center;
    padding-top:5px;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
    
}
.leftar{
    left:20px;
     opacity: 0.4;
       cursor: default;
}
.rightar{
    right:20px;
    opacity: 1;
  
   
/*     float:right; */

}
.arrow:hover{
    background:rgba(255,255,255,1);
}
.pro-slider{
    display: block;
    width: 100vw;
    height: 160px;
    position: absolute;
    z-index: 10;
    background: #0f0f0f;
}
.pro-slider .head1{
    /* height: 25px; */
    padding:10px 40px;
}
.outer-projects{
    display: block;
    background: #0F0F0F;
    overflow-x:hidden;
    height: 100px;
    /* overflow: hidden; */
}
.inner-projects{
    margin-left: 20px;
    display: inline-block;
    width: 1900px;
    margin-top: 9px;
}
.logo{
    height: 40px;
}
.head1 img{
    height: 85%;
}
.right{
    float: right;
}
.inner-projects ul li img{
    height:90%;
    margin-top: 0px;
}
.inner-projects ul li{
    width:100px;
    /*     border:1px solid red; */
    text-align:center;
    margin-right: 50px;
    color:#fff;
    list-style:none;
    font-family:'Geo';
    font-size:0.85em;
    opacity: 0.35;
    float:left;
    margin-top: -10px;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
    height: 50px;
}
.inner-projects ul li:hover{
    opacity:1;
}
.text{
    color: #fff;
    padding-top: 16px;
}
.text:hover{
    text-decoration: none;
}
.text-head{
    color: #EFEFEF;
    font-family:'Geo';
    text-align:center;
}
.head1 i{
    color: #fff;
    font-size: 1.3em;
    margin-top: 1px;
    cursor: pointer;
    color: #DADADA;
}
.inner-projects ul li.active{
    opacity: 1;
}
.vid-over,
.vid-over .yt-icon {
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    cursor: pointer
}
.ec-outer,
.f-outer,
.g-outer,
.h-outer,
.ki-outer,
.msg-outer,
.pmc-outer,
.po-outer,
.ym-outer,
.z-outer,
.sc-outer,
.re-outer,
.ze-outer,
.info-outer {
  display: block;
    position: relative;
    /* height: 100vh; */
    width: 100%;
    /* overflow-y: scroll; */
    
    overflow-x: hidden;
    background-color: #f3f3f3;
    z-index: 1;
}
.h-outer{
    width: 100vw;
    padding:0px 40px;
}
.vid-over {
    position: absolute;
    width: 600px;
    z-index: 1;
    top: 72px;
    overflow: hidden
}
.vid-over:hover .yt-icon {
    opacity: .9
}
.vid-over .yt-icon {
    position: absolute;
    z-index: 2;
    top: 135px;
    color: #c4302b;
    width: 80px;
    transition: all .2s ease
}
.flash {
    display: none
}

.f-inner {
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    text-align: center;
    color: #606060;
    font-family: mons-lig
}
.f-inner h3,
.fo-head {
    font-family: geo
}
.f-inner h3 {
    color: #989898;
    font-size: 20px
}
.fo-head,
.fo-head h3 {
    color: #fff
}
.msg-inner {
    text-align: left
}
.msg-inner a {
    margin-left: 25px
}
.ec-banner,
.f-banner,
.g-banner,
.h-banner,
.ki-banner,
.pmc-banner,
.po-banner,
.ym-banner,
.z-banner,
.sc-banner,
.re-banner,
.ze-banner,
.info-banner {
    text-align: center;
    display: block;
    width: 100%;
    height: 280px;
    background: url(../images/cel_img.jpg) top left fixed;
    background-size: auto 400px;
    box-shadow: 1px 1px 2px #9d9d9d
}
.h-banner {
    background: url(../images/cel_img-hitit.jpg) top left fixed;
    background-size: auto 400px
}
.g-banner {
    background: url(../images/cel-gmas.jpg) top left no-repeat fixed;
    background-size: cover
}
.ym-banner {
    background: url(../images/cel_img-ym.jpg) top left no-repeat fixed;
    background-size: cover
}
.ki-banner {
    background: url(../images/cel_img-kilig.jpg) top left no-repeat fixed;
    background-size: cover
}
.pmc-banner {
    background: url(../images/cel_img-pmc.jpg) bottom right no-repeat fixed;
    background-size: cover
}
.ec-banner {
    background: url(../images/cel-gmas.jpg) bottom right no-repeat fixed;
    background-size: cover
}
.po-banner {
    background: url(../images/cel_img-po.png) top right no-repeat fixed;
    background-size: cover
}
.z-banner {
    background: url(../images/zeo-back.jpg) top right no-repeat fixed;
    background-size: cover
}
.sc-banner {
    background: url(../images/s-cover.jpg) top right no-repeat fixed;
    background-size: cover
}
.re-banner {
    background: url(../images/re-cover.jpg) top right no-repeat fixed;
    background-size: cover
}
.ze-banner {
    background: url(../images/ze-cover.jpg) top right no-repeat fixed;
    background-size: cover
}

.info-banner {
    background: url(../images/info-cover.jpg) top right no-repeat fixed;
    background-size: cover
}
.ec-over,
.f-over,
.g-over,
.h-over,
.ki-over,
.pmc-over,
.po-over,
.ym-over,
.z-over,
.sc-over,
.re-over,
.ze-over,
.info-over {
    display: block;
    background-color: #263B4A;
    opacity: .9;
    width: 100%;
    height: 280px;
    position: absolute
}
.h-over {
    background-color: #000
}
.g-over {
    background-color: #288970
}
.ym-over {
    background-color: #584779
}
.sc-over {
    background-color: #252525;
}
.ki-over {
    background-color: #000
}
.pmc-over {
    background-color: #0B3A3E
}
.ec-over {
    background-color: rgba(4, 22, 61, 1)
}
.z-over {
    background-color: #2a2438
}
.po-over {
    background-color: #dc2c2c
}
.re-over {
    background-color: #79721D;
}
.ze-over {
    background-color: #3B3B3B;
}
.info-over{
    background: #2d2251;
}
.fo-logo {
    display: block;
    height: 130px;
    padding: 40px 20px 10px;
    text-align: center
}
.fo-logo img {
    height: 100%
}
.f-last h4,
.fo-head h4,
.fo-link a {
    font-family: mons-lig
}
.fo-head h4 {
    font-size: 22px
}
.fo-link a {
    color: #ddd;
    margin-top: 10px;
    transition: all .2s ease;
    text-decoration: none
}
.fo-link a:hover {
    color: #fff
}
.intro {
    padding: 20px
}
.color {
    padding-bottom: 20px
}
#player {
    box-shadow: 0 0 2px #9d9d9d;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.color-img img,
.f-cross,
.f-cross i {
    transition: all .2s ease
}
#player:hover {
    box-shadow: 0 0 10px #9d9d9d
}
.color-img img {
    margin: 20px 0;
    width: 100%;
    box-shadow: 0 0 2px #9d9d9d;
    cursor: pointer
}
.color-img img:hover {
    box-shadow: 0 0 10px #9d9d9d
}
.remove-shadow img,
.remove-shadow img:hover {
    box-shadow: 0 0 0 #fff
}
.f-mob-img img {
    width: 80%
}
.remove-shadow img {
    margin-bottom: -10px
}
.f-last {
    padding: 20px 0 30px
}
.f-line {
    border-radius: 2px;
    margin-top: 20px;
    display: block;
    width: 100%;
    float: left;
    height: 3px;
    background-color: #9d9d9d
}
.f-last h4 {
    font-size: 16px
}
.f-cross {
    display: block;
    width: 50px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 2px #9d9d9d;
    position: fixed;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    text-align: center
}
.f-cross i {
    margin-top: 7px
}
.f-cross:hover {
    height: 48px
}
.f-cross:hover i {
    margin-top: 10px;
    transform: rotate(180deg)
}
.ec-top,
.f-top,
.g-top,
.h-top,
.ki-top,
.msg-top,
.pmc-top,
.po-top,
.ym-top,
.z-top,
.sc-top,
.re-top,
.ze-top,
.info-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: .9;
    background-color: rgba(38, 59, 74, 1);
    box-shadow: 0 0 2px #4d4d4d;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
    z-index: 1;
    overflow: hidden;
    color: #fff;
    padding-top: 9px;
}
.h-top {
    background: #E42B3C
}
.g-top {
    background: #176A55
}
.ym-top {
    background: #AA1D85
}
.ki-top {
    background: #58166C
}
.pmc-top {
    background: #13464D
}
.ec-top {
    background: rgba(4, 22, 61, 1)
}
.po-top {
    background: #dc2c2c
}
.z-top {
    background: #4a2a6f
}
.msg-top {
    background: #d48120
}
.re-top {
    background: #252525
}
.info-top {
    background: #2d2251;
}
.ec-top:hover,
.f-top:hover,
.g-top:hover,
.h-top:hover,
.ki-top:hover,
.ms-top:hover,
.msg-top:hover,
.pmc-top:hover,
.po-top:hover,
.ym-top:hover,
.z-top:hover {
    box-shadow: 0 0 10px #4d4d4d
}
.no-hash{
    text-align: center;
    width: 100vw;
    margin-top: 100px;
    font-family: 'mons-lig';
    color: #4d4d4d;
    font-size: 1.2em;
}
/*message up*/

#message-box,
.head {
    text-align: left;
    font-size: 2em;
    margin-top: 40px;
    /*margin: 3.2% 3.2% 3.2% 20px;*/
}
#message-box{
    margin: 20px 0px;
}
a.left-a{
    margin-left: 0px;
    padding-bottom: 20px;
}
/*.loader{
    position: absolute;
    z-index: 1000;
}*/
@media(max-width: 640px){
    .pro-slider .head1{
        padding:10px 20px;
    }
    .outer-projects{
        overflow-x:scroll;
    }
}