{% load staticfiles %}

<!doctype html>
<html>

<head>

	<title>
		Akash Jain
	</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicons.png' %}">

	<meta name="Description" content="Hi I'm Akash Jain, a Frontend Developer with good design sense" />

	<meta name="google-site-verification" content="fFXTiyapPQDg5omCYCwHDzRwfcIlkpWvuBjxwIV-Z-Y" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/project.css' %}">
	<link rel="stylesheet" href="{% static 'css/experience.css' %}">
	<link rel="stylesheet" href="{% static 'css/skills.css' %}">
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<link rel="stylesheet" href="{% static 'css/founch.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
</head>

<body class="index">

	<div class="loader" id="loader">
		<div class="loader-logo load-effect wow fadeInUp">
			<img src="{% static 'images/logo-loader.gif' %}">
		</div>

		<div class="load-title wow fadeInUp" data-wow-delay="0.25s">Think Design Develop!</div>

		<div class="load-dyn wow fadeInUp" data-wow-delay="0.5s"></div>

		<div class="load-text wow fadeInUp" data-wow-delay="0.65s">Best viewed in <i class="fa fa-chrome"></i>
			<br>Feel the difference on <i class="fa fa-mobile"></i></div>
	</div>


	<div class="portme">



		<!--    logo-->

		<div class="logo "><img src="{% static 'images/logo.png' %}"></div>

		<!--    mobile-side-nav-->
		<div class="side-mob-white">
			<div class="side-img"><img src="{% static 'images/logo-dark.png' %}"></div>
			<div class="side-img-lg"><img src="{% static 'images/my-pic.jpg' %}"></div>
			<div class="side-mob-nav">
				<ul>
					<li class="nav-home"><i class="fa fa-home "></i> &nbsp;&nbsp;Home</li>
					<li class="nav-projects"><i class="fa fa-object-group"></i>&nbsp;&nbsp; Projects</li>
					<li class=" nav-exp"><i class="fa fa-tag "></i>&nbsp;&nbsp; Experience</li>
					<li class="nav-skills"><i class="fa fa-line-chart"></i>&nbsp;&nbsp; Skills</li>
					<li class="nav-more"><i class="fa fa-line-chart"></i>&nbsp;&nbsp; More</li>
					<li class="nav-contact"><i class="fa fa-coffee "></i>&nbsp;&nbsp; contact</li>
					<li class="side-con"> +91 9015153393
						<br> akashjain993@gmail.com
					</li>
				</ul>
			</div>
		</div>
		<div class="side-mob-black"></div>



		<!--side-bar-->
		<div class="header">
			<div class="nav-out ">

				<ul>
					<li class="nav-home">
						<div class=" dot-menu "></div>
						<div class=" nav-name ">Home</div>
						<div class=" diamond home-nav "></div>
					</li>

					<li class="nav-projects">
						<div class="dot-menu "></div>
						<div class=" nav-name  ">Projects</div>
						<div class=" diamond projects "></div>
					</li>
					<li class=" nav-exp">
						<div class="dot-menu "></div>
						<div class=" nav-name ">Experience</div>
						<div class=" diamond skills "></div>
					</li>
					<li class="nav-skills ">
						<div class="dot-menu "></div>
						<div class=" nav-name ">Skills</div>
						<div class=" diamond experience "></div>
					</li>
					<li class="nav-more">
						<div class="dot-menu "></div>
						<div class=" nav-name ">More</div>
						<div class=" diamond contact "></div>
					</li>
					<li class="nav-contact">
						<div class="dot-menu "></div>
						<div class=" nav-name  ">Contact</div>
						<div class=" diamond contact "></div>
					</li>


				</ul>
			</div>

			<div class="line "></div>
			<div class="page-num ">1</div>
			<div id="diamond"></div>
			<div class="page-name ">home</div>
			<div class="line line2 "></div>

		</div>



		<!--    mobile menu-->

		<div class="nav-line ">
			<ul>
				<li>
					<div class=" line-s "></div>
				</li>
				<li>
					<div class=" line-l "></div>
				</li>
				<li>
					<div class=" line-s2 "></div>
				</li>
			</ul>
		</div>


		<div class="nav-cross ">

		</div>

		<div class="toggle-nav "></div>
		<div class="over-toggle"></div>

		<!--links-->
		<div class="links ">
			<h4> Find me here!</h4>
			<ul>

				<a href="https://www.facebook.com/jainakashin" target="_blank">
					<li><i class="fa fa-facebook "></i></li>
				</a>
				<a href="http://in.linkedin.com/in/jainakashin" target="_blank">
					<li><i class="fa fa-linkedin "></i></li>
				</a>
				<a href="https://github.com/aka-jain" target="_blank">
					<li><i class="fa fa-github-alt "></i></li>
				</a>
				<a href="https://angel.co/akashjain993" target="_blank">
					<li><i class="fa fa-angellist "></i></li>
				</a>
				<a href="https://www.behance.net/akashjain993" target="_blank">
					<li><i class="fa fa-behance "></i></li>
				</a>
			</ul>
		</div>


		<!--    intro-part-->
		<div class="mainpage">
			<div class="container-fluid intro-outer">
				<div class="row">
					<div class="col-md-8 intro-inner">
						<div class="my-pic wow fadeInUp  " data-wow-delay="1.4s"><img src="{% static 'images/my-pic.jpg' %}"></div>
						<div class="my-intro wow fadeInUp  " data-wow-delay="1.4s">
							<h2>Hi !
<br> I'm Akash Jain
<br>UI/UX Developer
</div>
<div class="horiz-line wow fadeInLeftBig" data-wow-delay="0.8s"></div>
<div class="my-detail wow fadeInDown" data-wow-delay="1.2s">Thinking!<span class="red-intro"> evokes my curiosity</span>
<br> Designing!
<span class="red-intro"> gives shades to my creativity</span>
<br> Developing! <span class="red-intro"> is the soul of my masterpiece </span>
</div>
<div class="wow fadeIn">
<div class="dia dia-1"></div>
<div class="dia dia-2"></div>
<div class=" dia dia-3"></div>
<div class=" dia dia-4"></div>
<div class=" dia dia-5"></div>
</div>

</div>
</div>
</div>
<div class="home ">
<div class="back-image "> </div>
</div>
</div>



<!--    project-part-->
<div class="project-outer">




<div class="project-title wow fadeInUp" data-wow-delay="0.8s">Case Studies</div>
<div class="line-pro wow slideInLeft"></div>
<div class="subtitle-pro wow fadeInDown" data-wow-delay="0.6s"> Because I love what I do & and do what I love!</div>
<div class="buttons">
<div class="but"><i class="fa fa-angle-right fa-2x"></i></div>
<div class="but2"><i class="fa fa-angle-left fa-2x"></i></div>
</div>
<div class="pro-outer wow fadeInUp" data-wow-delay="0.4s">


<div class="pro-inner">

<ul>
<li class="inner-1 in">
<div class="zoom zoom1"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv founch"><img src="{% static 'images/founch-logo.png' %}"></div>

</li>

<li class="inner-3 in">
<div class="zoom zoom3"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv gmas"><img src="{% static 'images/gmas-logo.png' %}"></div>
</li>
<li class="inner-7 in">
<div class="zoom zoom4"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv ym"><img src="{% static 'images/ym-logo.png' %}"></div>
</li>
<li class="inner-8 in">
<div class="zoom zoom5"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv ki kilig"><img src="{% static 'images/z-logo.png' %}"></div>
</li>
<li class="inner-2 in">
<div class="zoom zoom2"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv hitit"><img src="{% static 'images/msg-logo.png' %}"></div>
</li>
<li class="inner-5 in">
<div class="zoom zoom8"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv portfolio"><img src="{% static 'images/portfolio-logo.png' %}"></div>
</li>
<li class="inner-4 in">
<div class="zoom zoom6"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv pmc"><img src="{% static 'images/pmc-logo.png' %}"></div>
</li>
<li class="inner-9 in">
<div class="zoom zoom7"><img src="{% static 'images/zoom.png' %}"></div>
<div class="indiv tap"><img src="{% static 'images/tap-logo.png' %}"></div>
</li>




</ul>
</div>




</div>

<div class="row wow fadeInDown " data-wow-delay="0.7s">

<div class="left-text col-xs-5  col-xs-offset-1">
6+<span class="spanit">Projects</span>
</div>
<div class="right-text col-xs-5">
1 <span> Year Experience</span>
</div>
</div>

</div>

<!-- experience -->
<div class="experience-outer">




<div class="project-title wow fadeInUp" data-wow-delay="0.8s">Experience</div>
<div class="line-exp wow slideInLeft"></div>
<div class="subtitle-pro subtitle-exp wow fadeInDown" data-wow-delay="0.6s"> Because it proves me!</div>

<div class="row">
<div class="left-exp-outer col-xs-12 col-sm-6  wow fadeInUp">
<div class="arrow-up">
<i class="fa fa-angle-up fa-2x"></i>
</div>
<div class="arrow-down">
<i class="fa fa-angle-down fa-2x"></i>
</div>
<div class="left-exp col-xs-12">

<div class="left-exp-in">
<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Dec-Jan
<br> 2016
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card col-xs-7 col-md-8">
<div class="card-cover">
</div>
<div class="row">
<div class="gmas-card-img ">
<img src="{% static 'images/gmas-logo-small.png' %}">
</div>
<div class="gmas-card-content col-xs-6">
GetMeAShop (TIL)
<br>
<span>UI/UX Intern</span>
</div>

</div>

</div>
</div>
<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Nov-Dec
<br> 2015
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card pmc-card col-xs-7 col-md-8">
<div class="card-cover pmc-cover">
</div>
<div class="row">
<div class="gmas-card-img pmc-card-img ">
<img src="{% static 'images/pmc-logo-small.png' %}">
</div>
<div class="gmas-card-content col-xs-7">
PrepMyCar
<br>
<span>UI Freelancer </span>
</div>

</div>

</div>
</div>
<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Jun-July
<br> 2015
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card founch-card col-xs-7 col-md-8">
<div class="card-cover founch-cover">
</div>
<div class="row">
<div class="gmas-card-img founch-card-img">
<img src="{% static 'images/logo-f.png' %}">
</div>
<div class="gmas-card-content col-xs-7">
Founch (TLABS)
<br>
<span>Frontend Intern</span>
</div>

</div>

</div>
</div>
<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Feb-March
<br> 2015
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card ub-card col-xs-7 col-md-8">
<div class="card-cover ub-cover">
</div>
<div class="row">
<div class="gmas-card-img ub-card-img ">
<img src="{% static 'images/ub-logo.png' %}">
</div>
<div class="gmas-card-content col-xs-7">
Urbanbinge
<br>
<span>UI Intern</span>
</div>

</div>

</div>
</div>

<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Nov-Dec
<br> 2014
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card fm-card col-xs-7 col-md-8">
<div class="card-cover fm-cover">
</div>
<div class="row">
<div class="gmas-card-img fm-card-img ">
<img src="{% static 'images/fm-logo.png' %}">
</div>
<div class="gmas-card-content col-xs-7">
Fratmart
<br>
<span>Design Intern</span>
</div>

</div>

</div>
</div>
<div class="gmas-exp row">
<div class="gmas-date subtitle-date col-xs-3 col-md-3">
Jun-July
<br> 2014
</div>
<div class="dot-line col-xs-1">
<div class="time-circle">
<div class="time-circle-small"> </div>
</div>
<div class="timeline">


</div>
</div>
<div class="gmas-card pinnacle-card col-xs-7 col-md-8">
<div class="card-cover pinnacle-cover">
</div>
<div class="row">
<div class="gmas-card-img pinnacle-card-img ">
<img src="{% static 'images/pinnacle-logo.png' %}">
</div>
<div class="gmas-card-content col-xs-7">
Pinnacle Works
<br>
<span>Web Trainee </span>
</div>

</div>

</div>
</div>

<div class="exp-last exp-last-mod row">
That's all folks!
</div>

</div>
</div>
</div>
<div class="exp-cont col-xs-12 col-md-6  wow fadeInLeft" data-wow-delay="0.4s">

It's just a beginning!
<br> A long way to go...


</div>
</div>




</div>

<!-- skills -->
<div class="skills-outer">




<div class="project-title wow fadeInUp" data-wow-delay="0.8s">Skills Stack</div>
<div class="line-exp line-skills  wow slideInLeft"></div>
<div class="subtitle-pro  subtitle-skills wow fadeInDown" data-wow-delay="0.6s"> Without them, I'm incomplete!</div>

<div class="row">
<div class="col-xs-12 col-md-5">
<div class="row">
<div class="chart col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1 wow fadeInLeft">
<div class="row">
<div class="code-chart col-xs-6">
<h4>Code<br>
&#60;/&#62;</h4>
</div>
<div class="design-chart col-xs-6">
<h4>Design<br>
<i class="fa fa-pencil"></i></h4>
</div>
</div>
</div>
<div class="skills-content col-xs-4 wow fadeInLeft" data-wow-delay="0.4s">
<h2>I Do</h2>
							<h4>UI-UX Designing</h4>
							<h4>Frontend Development</h4>
							<h4>Prototyping</h4>
							<h4>Wireframing</h4>
							<h4>Responsive Web Designs</h4>
						</div>
					</div>
				</div>
				<div class="align-space col-xs-11 col-md-6 wow fadeInUp">
					<div class=" skills-up">
						<i class="fa fa-angle-up fa-2x"></i>
					</div>
					<div class=" skills-down">
						<i class="fa fa-angle-down fa-2x"></i>
					</div>
					<div class="skills-out ">

						<div class="skills-in col-xs-12">
							<div class="row">

								<div class=" col-xs-3">

									<div class="skills-card">

										<div class="skill-cover skill-html">
										</div>
										<img src="{% static 'images/html.png' %}">
										<div>HTML5</div>


									</div>


								</div>

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover skill-css">
										</div>
										<img src="{% static 'images/css.png' %}">
										<div>CSS</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card">
										<div class="skill-cover  skill-js">
										</div>
										<img src="{% static 'images/js.png' %}">
										<div>Javascript</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover  skill-jq">
										</div>
										<img src="{% static 'images/jquery.png' %}">
										<div>jQuery</div>
									</div>

								</div>
							</div>


							<div class="row">

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover skill-bs">
										</div>
										<img src="{% static 'images/bs.png' %}">
										<div>Bootstrap</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card ">
										<div class="skill-cover skill-ang-js">
										</div>
										<img src="{% static 'images/ang-js.png' %}">
										<div>Angular JS</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover  skill-json">
										</div>
										<img src="{% static 'images/json.png' %}">
										<div>JSON</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card ">
										<div class="skill-cover  skill-sass">
										</div>
										<img src="{% static 'images/sass.png' %}">
										<div>SASS</div>
									</div>

								</div>
							</div>

							<div class="row">

								<div class="col-xs-3">

									<div class="skills-card ">
										<div class="skill-cover skill-polymer">
										</div>
										<img src="{% static 'images/polymer.png' %}">
										<div>Polymer</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card even ">
										<div class="skill-cover skill-ps">
										</div>
										<img src="{% static 'images/ps.png' %}">
										<div>Photoshop</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card ">
										<div class="skill-cover  skill-ai">
										</div>
										<img src="{% static 'images/ai.png' %}">
										<div>Illustrator</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover  skill-ae">
										</div>
										<img src="{% static 'images/ae.png'%}" class="special-effect">
										<div>After Effects</div>
									</div>

								</div>
							</div>

							<div class="row">

								<div class="col-xs-3">

									<div class="skills-card even">
										<div class="skill-cover skill-bal">
										</div>
										<img src="{% static 'images/bal.png' %}">
										<div>Balsamiq</div>
									</div>

								</div>

								<div class="col-xs-3">

									<div class="skills-card  ">
										<div class="skill-cover skill-c2">
										</div>
										<img src="{% static 'images/c2.png' %}">
										<div>Construct2</div>
									</div>

								</div>




							</div>
							<div class="exp-last skills-last row">
								More coming soon...
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>







		<!-- recom -->
		<div class="  recom-outer">


			<div class="project-title recom-title wow fadeInUp" data-wow-delay="0.8s">Things around me.</div>
			<div class="line-exp line-recom  wow slideInLeft"></div>
			<div class="subtitle-pro  subtitle-recom wow fadeInDown" data-wow-delay="0.6s">That's complete my second site!</div>
			<div class="me-car">
				<img src="{% static 'images/me-car.png' %}">
			</div>

			<div class="row">
				<div class="recom-cont">

					<div class="col-xs-6  col-xs-offset-5">
						<div class="recom-more wow fadeInLeft" data-wow-delay="0.6s">
							<h3>more...</h3>
							<h2>Design head of Nibble Computer Society </h2>
							<h2>Member of Google Developers Group JSS Noida</h2>
							<h2>Won some intra and inter college competitions</h2>
							<h2> And I love sketching too</h2>
						</div>
					</div>
				</div>


			</div>
		</div>

		<!-- contact-footer -->
		<div class="contact-outer">

			<div class="back-image-contact"> </div>


			<div class="project-title wow fadeInUp" data-wow-delay="0.8s">Hire Me!</div>
			<div class="line-exp line-contact  wow slideInLeft"></div>
			<div class="subtitle-pro  subtitle-contact wow fadeInDown" data-wow-delay="0.6s"> Let's have a talk!</div>

			<div class="container-form wow fadeInUp">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<!--             <form>
<input type="text" placeholder="Name* (required)" id="name" required>
<input type="email" placeholder="Email* (required)" id="email" required  >
<textarea  placeholder="Message* (required)"  id="msg" required></textarea><br>
<input type="submit" class="submit"><div class="warn-msg">
Please fill all the entries</div><br>

</form> -->
						<div class="loader-text">Sending...</div>
						<form method="POST" action="" id="contact-form">{% csrf_token %}

							<input type="text" placeholder="Name*" id="name" required>
							<input type="email" placeholder="Email*" id="email" required>
							<textarea placeholder="Message* " id="msg" required></textarea>
							<br>
							<input type="submit" class="submit" id="submit_btn">
							<div class="warn-msg">
								Please fill all the entries</div>
							<br>

						</form>




						<a class="resume-link" href="{% static 'images/resume.pdf' %}" target="_blank">
							<div class="resume">View Resume</div>
						</a>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="links-contact">
							<!-- <div class="links-in con-email">
<i class="fa fa-envelope "></i>

</div>
<div class="links-in con-fb">
<i class="fa fa-facebook"></i>

</div>
<div class="links-in con-al">
<i class="fa fa-angellist "></i>

</div>
<div class="links-in con-git">
<i class="fa fa-github "></i>

</div>

<div class="links-in con-in">
<i class="fa fa-linkedin "></i>

</div>
<div class="links-in con-be">
<i class="fa fa-behance "></i>

</div> -->

							<p class="wow fadeInUp">A little bit more about me!
								<br>
								<br> I'm a Computer Science student at JSS Academy of Technical Education,Noida and will be graduated in June 2016. I do UI/UX designing and frontend development and have been working in this field since last 14 months. The prospect of new technologies always excites me and add value to my skills. I'm a self learner and waiting for the opportunities where I can do my best and can learn as much as possible.
								<br>
								<br> Think! Design! Develop!
								<br>

								<div class="conts col-xs-12 ">
									<i class="fa fa-envelope"></i>akashjain993@gmail.com
									<br>
									<i class="fa fa-mobile"></i>+91 9015153393</div>
							</p>


						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- projects pages======================================= -->

		<!-- founch-project=========================== -->

		<div class="f-outer all-scroll ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="f-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="f-over">
				</div>
				<div class="f-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-f.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Founch</h3>
						<h4>Bringing together all information, at one place!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="https://www.founch.com" target="_blank">www.founch.com</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Founch is an Advance form of wikipedia initially launched for Hollywood celebrities where only interested and important information is shown up at a single place. I have worked as a frontend intern in this organization and handle some pages of founch website!
					</div>
				</div>

				<!-- color============ -->

				<div class="color col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Color Pallete</h3>
					</div>
					<div class="color-img remove-shadow ">
						<img src="{% static 'images/color-theme.png' %}">
					</div>
				</div>

				<!-- product-video -->
				<!-- <div class="color col-xs-12 col-md-10 col-md-offset-1">
<div class="col-xs-12 ">
<h3>Product Video</h3>
</div>
<div class="vid-over"><img src="{%static 'images/yt-icon.png'%}" class="yt-icon"><img src="{% static 'images/vid-over.jpg'%}"></div> -->
				<!-- <div id="player">
<iframe  src="https://www.youtube.com/embed/vbE222udSPM" frameborder="0" allowfullscreen></iframe>
</div> -->
				<!-- </div> -->

				<!-- founch-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Landing Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/founch-index.jpg' %}">
					</div>
				</div>

				<!-- founch-search -->
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Search Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/search.jpg' %}">
					</div>
				</div>

				<!-- mobile-pages -->
				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Responsive Pages</h3>
					</div>
					<div class="row">
						<div class="color-img f-mob-img col-xs-12 col-sm-6  ">
							<img src="{% static 'images/index-mob.jpg' %}">
						</div>
						<div class="color-img f-mob-img col-xs-12 col-sm-6 " data-wow-delay="0s">
							<img src="{% static 'images/mob-search.jpg' %}">
						</div>
					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-4">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>




		<!-- hitit-project=========================== -->

		<div class=" h-outer all-scroll">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="h-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner msg-inner">

				<!--messageup.js-->


				<div class="head">MessageUp.js</div>
				<a class="left" href="https://github.com/aka-jain/MessageUp.js" target="_blank">github.com/aka-jain/MessageUp.js</a>

				<div id="message-box"></div>
				<p> MessageUp.js is just a 1KB Javascript library which runs without using any third party plugin.
					<br> If you want to change your text dynamically after some time then MessageUp.js will do it all for you.
					<br> You can also customize speed, color and effects time of messages.
					<br>
					<br> Read documentation on GitHub.
					<br>And if you want to contribute in this library then you are most welcome.
				</p>

				<div class="example">
					It's very easy to apply.
					<br>
					<br> Step1- include message.js or message-min.js script after your ending body tag like:
					<br> &#10094;script src="/path/messageup.js"&#10095;&#10094;/script&#10095; or &#10094;script src="/path/messageup-min.js"&#10095;&#10094;/script&#10095;
					<br>
					<br> Step2- initialize your own script just above your message.up script tags as
					<br> &#10094;script&#10095;
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var msg=["Message 1", "Message 2", "Message 3", "Message 4", "Message 5" ]; <span class="light-msg">&nbsp;//define messages here </span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var color=["red", "green", "yellow", "green", "blue"]; <span class="light-msg">&nbsp;// define color here (optional)</span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var time=1500;<span class="light-msg"> &nbsp;// define time here (optional)</span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var speed="slow";<span class="light-msg"> &nbsp;// define speed here as slow or fast (optional) </span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var iteration="repeat"; <span class="light-msg">&nbsp;// define iteration type here as repeat or no-repeat (optional)</span>
					<br> &#10094;/script&#10095;

					<br>
					<br> Step3- include an id to your div as message-box in HTML like:
					<br> &#10094;div id="message-box"&#10095;&#10094;/div&#10095;
					<br>
					<br> Now you are ready to go :)
				</div>

				<div class="sign">By Akash Jain
					<br>
					<a href="http://www.jainakash.in" target="_blank">
(www.jainakash.in)<br><br></a> Made with <i class="fa fa-heart"></i> while listening <i class="fa fa-music"></i></div>
			</div>
		</div>

		<!-- getmeashop-project=========================== -->

		<div class=" g-outer all-scroll">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="g-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="g-over">
				</div>
				<div class="g-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-g.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Getmeashop</h3>
						<h4>Everything that your mobile store wants!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.getmeashop.com" target="_blank">www.getmeashop.com</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Getmeashop is an online platform which provides seller an option to take thier store online. It is a combination of Wix and Shopify. I have worked in Getmeashop as a UI/UX intern!
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Landing Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/gmas-land.jpg' %}">
					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-4">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- yemmy maids======== -->

		<div class=" ym-outer all-scroll">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="ym-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="ym-over">
				</div>
				<div class="ym-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-ym.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Yemmy Maids</h3>
						<h4>A domestic referral agency for your house keeping solutions!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="https://github.com/aka-jain/yemmymade" target="_blank">yemmymaids.github</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Yemmy maids is an online platform which provides maids on demand.Here a user can select maid from hundreds of options. This was a freelance project for me and I worked as a frontend developer.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Applicants Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/applicant.png' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Employees Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/employees.jpg' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Customer Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/customer.png' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Customers Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/customers.png' %}">
					</div>
				</div>





				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Order Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/order.png' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Orders Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/orders.png' %}">
					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-4">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- kiligs ======== -->

		<div class=" ki-outer all-scroll">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="ki-top ">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="z-over">
				</div>
				<div class="z-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-z.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Zeometree</h3>
						<h4>Pour yourself out!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="#">In building state</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						The most versatile media sharing platform facilitating easy ambient personalization, easy navigation, media authentication, media and profile targeted search and fan following from a diverse population. !
					</div>
				</div>




				<!-- founch-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Landing Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/zo.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Home Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/home.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Profile Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/zd.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Video Play Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/zb.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Followers Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/zeo-profile-followers.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>News Feed</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/zc.jpg' %}">
					</div>
				</div>
				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Image Display Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/za.jpg' %}">
					</div>
				</div>



				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-8">
							<h4>Check out more on <i class="fa fa-behance"></i></h4>
						</div>
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- prepmycar ======== -->

		<div class=" pmc-outer all-scroll ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="pmc-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="pmc-over">
				</div>
				<div class="pmc-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-pmc-big.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>PrepMyCar</h3>
						<h4>Online services for your car!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="https://github.com/aka-jain/prepcar-buyerprofile" target="_blank">prepmycar.github</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Prepmycar is an online portal for car services. You can choose any car service from here as per requirement. I have made shop user profile and worked on logo.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Shop Profile Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/prepmycar-index.jpg' %}">
					</div>
				</div>

				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Story Teller Graphics</h3>
					</div>

					<div class="row">
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p1.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p2.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6  col-md-4">
							<img src="{% static 'images/p3.png' %}">
						</div>


						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p4.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p5.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p6.png' %}">
						</div>
					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-4">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- ecommerce ======== -->

		<div class=" ec-outer all-scroll ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="ec-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="ec-over">
				</div>
				<div class="ec-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-ec-big.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Ecommerce Themes</h3>
						<h4>Online Shopping stores!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.getmeashop.com" target="_blank">www.getmeashop.com</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						These are the themes provided by Getmeashop. All these themes are related to Ecommerce and have been revamped for a better look.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Beats</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/beats.jpg' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Dicove</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/dicove.jpg' %}">
					</div>
				</div>





				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Shades</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/shades.jpg' %}">
					</div>
				</div>

				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Responsive Pages</h3>
					</div>

					<div class="row">
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/beats-mob.jpg' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/tap-mob.jpg' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/dicove-mob.jpg' %}">
						</div>


					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-4">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- portfolio ======== -->

		<div class=" po-outer all-scroll flash ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="po-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="po-over">
				</div>
				<div class="po-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Portfolio</h3>
						<h4>Think! Design! Develop!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.jainakash.in" target="_blank">www.jainakash.in</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						This is my personal portal where some of my best work is shown with regular updates.Both desktop and mobile version are different. In desktop there is a stack effect while for mobile I try to make it as a Progressive Web Application .
					</div>
				</div>


				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Mobile Website</h3>
					</div>

					<div class="row">
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/ma.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mb.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mc.png' %}">
						</div>



						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/md.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/me.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mf.png' %}">
						</div>



						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mg.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mh.png' %}">
						</div>



					</div>
				</div>



				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 po-color ">
						<h3>Go Ahead!<br><span class="po-margin">Explore it, lot more to see!</span></h3>
					</div>

				</div>




				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end  col-xs-4">
							<h4>Check a new look of this website on Mobile.</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>



	<!--scripts-->

	<script type="text/javascript">
		if (screen.width <= 640) {
			document.location = "mobile";
		}
	</script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- redirect to mobile page -->
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/main-min.js' %}"></script>



	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script>
		// script for messageup
		var msg = ["Hi!", "I'm Messageup.js", "Use me to...", "display your text", " change your text", "do cool things", ":)"]; //define messages

		var color = ["#E53935", "#5E35B1", "#009688", "#AFB42B", "#37474F", "#EF6C00", "#558B2F"]; //define color corresponding to each message

		var time = 1500; //define time for which message will display on screen (optional)

		var speed = "slow"; // define speed of fade effect  (optional)

		var iteration = "repeat"; //define iteration type  (optional)
	</script>
	<script src="{% static 'js/messageup-min.js' %}"></script>



	<script>
		var wow = new WOW();
		wow.init();
	</script>

	<!--<script>
var tag = document.createElement('script');

tag.src = "//www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


var player;

function onYouTubeIframeAPIReady() {
player = new YT.Player('player', {
height: '380px',
width: '600px',
videoId: 'vbE222udSPM',
events: {
'onReady': onPlayerReady,
'onStateChange': onPlayerStateChange
}
});
}


function onPlayerReady(event) {
event.target.playVideo();
}

var done = false;

function onPlayerStateChange(event) {
if (event.data == YT.PlayerState.PLAYING && !done) {
setTimeout(stopVideo, 0);
done = true;
} else if (event.data == 0) {
$(".vid-over").fadeIn();

}

}

function stopVideo() {
player.stopVideo();
}

</script>-->


	<script>
		$('#submit_btn').on('click', function (event) {
			event.preventDefault();
			create_post();
		});

		function create_post() {

			var name = $("input#name").val();
			var email = $("input#email").val();
			var message = $("textarea#msg").val();
			var dataString = "name" + name + "email" + email + "message" + message;
			var name_filter = /[0-9]/;
			if (email == "" || name == "" || message == "") {
				$(".warn-msg").html("fill out all enteries please!").hide().fadeIn(500);
				e.preventDefault();
			} else if (email == "" || name_filter.test(name) || message == "") {
				$(".warn-msg").html("name can't be numerical, please check!").hide().fadeIn(500);
				e.preventDefault();
			} else if (validateEmail(email) && name != "" && message != "" && email != "") {
				$("form").css({
					'opacity': '0.1'
				});
				$(".loader-text").css({
					'display': 'block'
				});
				$(".loader-text").hide().fadeIn();

				$.ajax({
					url: "/", // the endpoint
					type: "POST", // http method
					data: {
						csrfmiddlewaretoken: "{{ csrf_token }}",
						name: $('#name').val(),
						email: $('#email').val(),
						// subject : $('#subject').val() ,
						message: $('#msg').val(),
					}, // data sent with the post request

					// handle a successful response
					success: function (json) {
						$(".loader-text").fadeOut();
						$("form").css({
							'opacity': '1'
						})
						console.log('SS');
						$('form').html("<div id='message'></div>");
						$('#message').html("<h2>Hello,&nbsp;" + name + "</h2>")
							.append("<p>I have received your message.<br>Thanks for reaching me, will get back to you soon.</p>")
							.hide()
							.fadeIn();
					},

					// handle a non-successful response
					error: function (xhr, errmsg, err) {
						console.log("failed");
						console.log(xhr.status + ": " + xhr.responseText);
					}
				});
			} else if (email != "" && name != "" && message != "") {
				$(".warn-msg").html("check your mailing address please!").hide().fadeIn(500);
				e.preventDefault();
			}

			function validateEmail(email) {
				var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,10}$/;

				if (filter.test(email)) {
					return true;
				} else {
					return false;
				}
			}
		}
	</script>


	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-73702186-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>