{% load staticfiles %}

<!doctype html>

<html>

<head>
	<title>
		Akash Jain</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicons.png' %}">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#fff">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#fff">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/main-mob.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">





	<!--	<link rel="stylesheet" href="{% static 'css/project.css' %}">-->
	<!--	<link rel="stylesheet" href="{% static 'css/experience.css' %}">-->
	<!--	<link rel="stylesheet" href="{% static 'css/skills.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<link rel="stylesheet" href="{% static 'css/founch.css' %}">


</head>

<body>

	<div class="loader" id="loader">
		<div class="loader-logo load-effect wow fadeInUp">
			<img src="{% static 'images/logo-loader.gif' %}">
		</div>

		<div class="load-title wow fadeInUp" data-wow-delay="0.25s">Think Design Develop!</div>

		<div class="load-dyn wow fadeInUp" data-wow-delay="0.5s"></div>

		<div class="load-text wow fadeInUp" data-wow-delay="0.65s">Best viewed in <i class="fa fa-chrome"></i>
			<br>Feel the difference on <i class="fa fa-desktop"></i></div>
	</div>

	<div class="stop-box"></div>
	<div class="tour">
		<div class="wow fadeInUp" data-wow-delay="1.5s">
			<div class="tour-text">Use this menu for navigation&nbsp;&nbsp;</div>
			<div class="tour-arrow  ">


				<img src="{% static 'images/arrr.png' %}"></div>
		</div>

		<div class="tour-got  wow fadeInUp" data-wow-delay="1.6s">Got It!</div>
	</div>

	<div class="logo "><img src="{% static 'images/logo.png' %}"></div>

	<!--    mobile-side-nav-->
	<div class="side-mob-white">
		<div class="side-img"><img src="{% static 'images/logo-dark.png' %}"></div>
		<div class="side-img-lg"><img src="{% static 'images/my-pic.jpg' %}"></div>
		<div class="side-mob-nav">
			<ul>
				<li class="nav-home"><i class="fa fa-home "></i> &nbsp;&nbsp;Home</li>
				<li class="nav-projects"><i class="fa fa-object-group"></i>&nbsp;&nbsp; Projects</li>
				<li class=" nav-exp"><i class="fa fa-tag "></i>&nbsp;&nbsp; Experience</li>
				<li class="nav-skills"><i class="fa fa-line-chart"></i>&nbsp;&nbsp; Skills</li>
				<li class="nav-about"><i class="fa fa-user"></i>&nbsp;&nbsp; About</li>
				<li class="nav-contact"><i class="fa fa-coffee "></i>&nbsp;&nbsp; contact</li>
				<li class="side-con"> +91 9015153393
					<br> akashjain993@gmail.com
				</li>
			</ul>
		</div>
	</div>
	<div class="side-mob-black"></div>



	<!--side-bar-->
	<div class="header">
		<div class="nav-out ">

			<ul>
				<li class="nav-home">
					<div class=" dot-menu "></div>
					<div class=" nav-name ">Home</div>
					<div class=" diamond home-nav "></div>
				</li>

				<li class="nav-projects">
					<div class="dot-menu "></div>
					<div class=" nav-name  ">Projects</div>
					<div class=" diamond projects "></div>
				</li>
				<li class=" nav-exp">
					<div class="dot-menu "></div>
					<div class=" nav-name ">Experience</div>
					<div class=" diamond skills "></div>
				</li>
				<li class="nav-skills ">
					<div class="dot-menu "></div>
					<div class=" nav-name ">Skills</div>
					<div class=" diamond experience "></div>
				</li>

				<li class="nav-contact">
					<div class="dot-menu "></div>
					<div class=" nav-name  ">Contact</div>
					<div class=" diamond contact "></div>
				</li>


			</ul>
		</div>

		<div class="line "></div>
		<div class="page-num ">1</div>
		<div id="diamond"></div>
		<div class="page-name ">home</div>
		<div class="line line2 "></div>

	</div>



	<!--    mobile menu-->

	<div class="nav-line ">
		<ul>
			<li>
				<div class=" line-s "></div>
			</li>
			<li>
				<div class=" line-l "></div>
			</li>
			<li>
				<div class=" line-s2 "></div>
			</li>
		</ul>
	</div>


	<div class="nav-cross ">

	</div>

	<div class="toggle-nav "></div>
	<div class="over-toggle"></div>

	<!--links-->
	<div class="links ">
		<h4> Find me here!</h4>
		<ul>

			<a href="https://www.facebook.com/jainakashin" target="_blank">
				<li><i class="fa fa-facebook "></i></li>
			</a>
			<a href="http://in.linkedin.com/in/jainakashin" target="_blank">
				<li><i class="fa fa-linkedin "></i></li>
			</a>
			<a href="https://github.com/aka-jain" target="_blank">
				<li><i class="fa fa-github-alt "></i></li>
			</a>
			<a href="https://angel.co/akashjain993" target="_blank">
				<li><i class="fa fa-angellist "></i></li>
			</a>
			<a href="https://www.behance.net/akashjain993" target="_blank">
				<li><i class="fa fa-behance "></i></li>
			</a>
		</ul>
	</div>


	<!--    intro-part-->
	<div class="mainpage">
		<div class="container-fluid intro-outer">
			<div class="row">
				<div class="col-md-8 intro-inner">
					<div class="my-pic wow fadeInUp  " data-wow-delay="0.1s"><img src="{% static 'images/my-pic.jpg' %}"></div>
					<div class="my-intro wow fadeInUp  " data-wow-delay="0.1s">
						<br> Akash jain
						<br>UI/UX Developer</div>
					<div class="horiz-line wow fadeInLeftBig" data-wow-delay="-0.4s"></div>
					<div class="my-detail wow fadeInDown" data-wow-delay="0.2s">Think Design Develop!
					</div>
					<div class="wow fadeIn">
						<div class="dia dia-1"></div>
						<div class="dia dia-2"></div>
						<div class=" dia dia-3"></div>
						<div class=" dia dia-4"></div>
						<div class=" dia dia-5"></div>
					</div>

				</div>
			</div>
		</div>
		<div class="home ">
			<div class="back-image "> </div>
		</div>
	</div>


	<div class="mob-project ">
		<div class="project-head">
			<span class="wow fadeInUp" data-wow-delay="0.2s">Case Studies</span>
		</div>
		<div class="project-cont">
			<span class="wow fadeInDown top" data-wow-delay="0.2s">
Because I love what I do & do what I love!</span>
			<div class="wow fadeInDown project-card " data-wow-delay="0.2s">
				<div class="zeo-overlay zeo ">

				</div>
				<div class="zeo-over-logo">
					<img src="{% static 'images/zeo-small-logo.png' %}">
				</div>
				<div class="zeo-text">
					<h3>Zeometree <img src="{% static 'images/zoom.png' %}"></h3>UI/UX Design Project.
				</div>

			</div>


			<div class="wow fadeInDown project-card " data-wow-delay="0.3s">
				<div class="f-overlay founch ">

				</div>
				<div class="zeo-over-logo">
					<img src="{% static 'images/founch-logo-small.png' %}">
				</div>
				<div class="zeo-text">
					<h3>Founch <img src="{% static 'images/zoom.png' %}"></h3>Frontend Intern.
				</div>

			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.4s">

				<div class="msgup-overlay msgup ">

				</div>
				<div class="zeo-over-logo msg-over-logo">
					<img src="{% static 'images/msgup-logo.png' %}">
				</div>
				<div class="zeo-text">
					<h3>MessageUp.js <img src="{% static 'images/zoom.png' %}"></h3>Javacript library.
				</div>
			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.5s">
				<div class="msgup-overlay gmas ">

				</div>
				<div class="zeo-over-logo gmas-over-logo">
					<img src="{% static 'images/gmas-logo-small.png' %}">
				</div>
				<div class="zeo-text">
					<h3>GetMeAShop <img src="{% static 'images/zoom.png' %}"></h3>UI/UX Intern.
				</div>
			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.6s">
				<div class="msgup-overlay ym ">

				</div>
				<div class="zeo-over-logo ym-over-logo">
					<img src="{% static 'images/logo-ym.png' %}">
				</div>
				<div class="zeo-text">
					<h3>Yemmy Maids <img src="{% static 'images/zoom.png' %}"></h3>Frontend Developer.
				</div>
			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.7s">
				<div class="msgup-overlay pmc ">

				</div>
				<div class="zeo-over-logo pmc-over-logo">
					<img src="{% static 'images/pmc-logo-small.png' %}">
				</div>
				<div class="zeo-text">
					<h3>PrepMyCar<img src="{% static 'images/zoom.png' %}"></h3>UI Developer.
				</div>
			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.8s">
				<div class="msgup-overlay ec ">

				</div>
				<div class="zeo-over-logo ec-over-logo">
					<img src="{% static 'images/logo-ec-big.png' %}">
				</div>
				<div class="zeo-text">
					<h3>Ecommerce<img src="{% static 'images/zoom.png' %}"></h3>UI/UX Designer.
				</div>

			</div>
			<div class="wow fadeInDown project-card " data-wow-delay="0.9s">
				<div class="msgup-overlay portfolio ">

				</div>
				<div class="zeo-over-logo portfolio-over-logo">
					<img src="{% static 'images/logo.png' %}">
				</div>
				<div class="zeo-text">
					<h3>Portfolio<img src="{% static 'images/zoom.png' %}"></h3>Frontend Developer.
				</div>
			</div>
			<span class="wow fadeInDown last" data-wow-delay="0.2s">
More Coming Soon!</span>
		</div>
	</div>


	<!--	experience-->

	<div class=" mob-exp ">
		<div class="exp-head ">
			<span class="wow fadeInUp" data-wow-delay="0.2s">Experience</span>
		</div>
		<div class=" exp-cont">
			<span class="wow fadeInDown top" data-wow-delay="0.2s">
Because it proves me!</span>

			<div class="exp-card wow fadeInDown" data-wow-delay="0.2s">
				<div class="exp-logo exp-zeo">
					<img src="{% static 'images/zeo-small-logo.png' %}">
				</div>
				<div class="exp-text ">
					<h3>Zeometree</h3>
					<span style="display: block;">UI/UX Designer.<br>
<i class="fa fa-calendar"></i> Feb 2016
</span>
				</div>
			</div>
			<div class="exp-card wow fadeInDown" data-wow-delay="0.3s">
				<div class="exp-logo exp-gmas">
					<img src="{% static 'images/logo-g.png' %}">
				</div>
				<div class="exp-text ">
					<h3>GetMeAShop</h3>
					<span style="display: block;">UI/UX Intern.<br>
<i class="fa fa-calendar"></i> Dec 2015 - Jan 2016
</span>
				</div>
			</div>

			<div class="exp-card wow fadeInDown" data-wow-delay="0.4s">
				<div class="exp-logo exp-pmc">
					<img src="{% static 'images/logo-pmc-black.png' %}">
				</div>
				<div class="exp-text ">
					<h3>PrepMyCar</h3>
					<span style="display: block;">UI Freelancer.<br>
<i class="fa fa-calendar"></i> Nov - Dec 2015
</span>
				</div>
			</div>
			<!--						<img src="images/fm.png" -->
			<div class="exp-card wow fadeInDown" data-wow-delay="0.5s">
				<div class="exp-logo exp-f">
					<img src="{% static 'images/logo-f-vs.png' %}">
				</div>
				<div class="exp-text ">
					<h3>Founch</h3>
					<span style="display: block;">Frontend Intern.<br>
<i class="fa fa-calendar"></i> June - July 2015
</span>
				</div>
			</div>
			<div class="exp-card wow fadeInDown" data-wow-delay="0.6s">
				<div class="exp-logo exp-ub">
					<img src="{% static 'images/ub-logo.png' %}">
				</div>
				<div class="exp-text ">
					<h3>UrbanBinge</h3>
					<span style="display: block;">App UI Intern.<br>
<i class="fa fa-calendar"></i> Feb - March 2015
</span>
				</div>
			</div>
			<div class="exp-card wow fadeInDown" data-wow-delay="0.7s">
				<div class="exp-logo exp-fm">
					<img src="{% static 'images/fm-logo-dark.png' %}">
				</div>
				<div class="exp-text ">
					<h3>Fratmart</h3>
					<span style="display: block;">Design Intern.<br>
<i class="fa fa-calendar"></i> Nov - Dec 2014
</span>
				</div>
			</div>
			<div class="wow fadeInDown exp-card" data-wow-delay="0.8s">
				<div class="exp-logo exp-p">
					<img src="{% static 'images/pinnacle-logo.png' %}">
				</div>
				<div class="exp-text ">
					<h3>Pinnacle Works</h3>
					<span style="display: block;">Web Trainee.<br>
<i class="fa fa-calendar"></i> Jun - July 2014
</span>
				</div>
			</div>



			<span class="wow fadeInDown last" data-wow-delay="0.9s">
That's all folks!</span>
		</div>
	</div>



	<!-- skills===== -->

	<div class=" mob-skills ">
		<div class="skills-head ">
			<span class="wow fadeInUp" data-wow-delay="0.2s">Skills</span>
		</div>
		<div class=" skills-cont">
			<span class="wow fadeInDown top" data-wow-delay="0.2s">
Without them I'm incomplete!</span>

			<div class="container-fluid ">
				<div class="row">
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.2s">
						<img src="{% static 'images/html.png' %}">
						<br>
						<h4>HTML5</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.3s">
						<img src="{% static 'images/css.png' %}">
						<br>
						<h4>CSS</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.4s">
						<img src="{% static 'images/js.png' %}">
						<br>
						<h4>JS</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.5s">
						<img src="{% static 'images/jquery.png' %}">
						<br>
						<h4>Jquery</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.6s">
						<img src="{% static 'images/bs.png' %}">
						<br>
						<h4>Bootstrap</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.7s">
						<img src="{% static 'images/ang-js.png' %}">
						<br>
						<h4>Angular-Js</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.8s">
						<img src="{% static 'images/json.png' %}">
						<br>
						<h4>JSON</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="0.9s">
						<img src="{% static 'images/sass.png' %}">
						<br>
						<h4>SASS</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1s">
						<img src="{% static 'images/polymer.png' %}">
						<br>
						<h4>Polymer</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1.1s">
						<img src="{% static 'images/ps.png' %}">
						<br>
						<h4>Adobe PS</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1.2s">
						<img src="{% static 'images/ai.png' %}">
						<br>
						<h4>Illustrator</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1.3s">
						<img src="{% static 'images/ae.png' %}">
						<br>
						<h4>Adobe AE</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1.4s">
						<img src="{% static 'images/bal.png' %}">
						<br>
						<h4>Balsamiq</h4>
					</div>
					<div class="col-xs-4 skills-logo wow fadeInDown " data-wow-delay="1.5s">
						<img src="{% static 'images/c2.png' %}">
						<br>
						<h4>Construct2</h4>
					</div>


				</div>
			</div>



			<div class="skills-text">
				<h4>I DO</h4> UI and UX Design
				<br> Frontend Development
				<br> Rapid Prototyping
				<br> Wireframing
				<br>Responsive Webdesigns
			</div>
			<span class="wow fadeInDown last last-skills" data-wow-delay="0.9s">
Next is baking up!</span>
		</div>
	</div>

	<!--	about-->

	<!-- skills===== -->

	<!--contact-->
	<div class=" mob-contact ">
		<div class="contact-head ">
			<span class="wow fadeInUp" data-wow-delay="0.2s">Contact</span>
		</div>
		<div class=" contact-cont">
			<span class="wow fadeInDown top top-contact" data-wow-delay="0.2s">
Let's have a talk!</span>

			<div class="container-form ">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<!--             <form>
<input type="text" placeholder="Name* (required)" id="name" required>
<input type="email" placeholder="Email* (required)" id="email" required  >
<textarea  placeholder="Message* (required)"  id="msg" required></textarea><br>
<input type="submit" class="submit"><div class="warn-msg">
Please fill all the entries</div><br>

</form> -->
						<div class="loader-text">Sending...</div>
						<form method="POST" action="" id="contact-form">{% csrf_token %}

							<input type="text" placeholder="Name*" id="name" class="wow fadeInDown" data-wow-delay="0.2s" required>
							<input type="email" placeholder="Email*" id="email" class="wow fadeInDown" required data-wow-delay="0.3s">
							<textarea placeholder="Message* " id="msg" class="wow fadeInDown" data-wow-delay="0.4s" required></textarea>
							<br>
							<div>
								<input type="submit" class="submit wow fadeInDown" data-wow-delay="0.5s" id="submit_btn">
							</div>
							<div class="warn-msg wow fadeInDown" data-wow-delay="0.6s">
								Please fill out all the enteries!
							</div>
							<br>

						</form>


						<a class="resume-link" href="{%static 'images/resume.pdf' %}" target="_blank">
							<div class="resume wow fadeInDown" data-wow-delay="0.7s">Resume</div>
						</a>
					</div>

				</div>
			</div>





			<span class="wow fadeInDown last last-skills last-contact wow fadeInDown" data-wow-delay="0.8s">
Feel the difference on <i class="fa fa-desktop"></i></span>
		</div>
	</div>


	<div class=" mob-about ">
		<div class="about-head ">
			<span class="wow fadeInUp" data-wow-delay="0.2s">About</span>
		</div>
		<div class=" about-cont">
			<span class="wow fadeInDown top" data-wow-delay="0.2s">
My definition!</span>





			<div class="skills-text about-text wow fadeInDown" data-wow-delay="0.3s">
				<ul>
					<li>Thinking! <span>evokes my curiosity.</span></li>
					<li>Desigining! <span>gives shades to my creativity.</span></li>
					<li>Developing!<span> is the soul of my creativity.</span></li>
				</ul>


			</div>
			<span class="wow fadeInDown last last-skills last-about wow fadeInDown" data-wow-delay="0.4s">
Roles!</span>
			<div class="skills-text about-text wow fadeInDown" data-wow-delay="0.5s">
				<ul>
					<li>Design head of Nibble Computer Society</li>
					<li>Member of Google Developers Group JSS Noida</li>
					<li>Won some intra and inter college competitions</li>
					<li>And I love sketching too</li>
				</ul>

			</div>
			<span class="wow fadeInDown last last-skills last-about wow fadeInDown" data-wow-delay="0.6s">
A little bit more about me!</span>
			<div class="skills-text about-text summary wow fadeInDown" data-wow-delay="0.7s">

				I'm a Computer Science student at JSS Academy of Technical Education,Noida and will be graduated in June 2016. I do UI/UX designing and frontend development and have been working in this field since last 14 months. The prospect of new technologies always excites me and add value to my skills. I'm a self learner and waiting for the opportunities where I can do my best and can learn as much as possible.


			</div>
			<span class="wow fadeInDown last last-skills wow fadeInDown" data-wow-delay="0.8s">
Think Design Develop!</span>
		</div>
	</div>


	<!-- projects pages======================================= -->


	<!-- founch-project=========================== -->

	<div class="f-outer all-scroll ">
		<div class="f-cross">
			<i class="fa fa-times fa-2x">
</i>
		</div>
		<div class="f-top">
			<i class="fa fa-chevron-up fa-1x">
</i>
		</div>

		<div class="f-inner">

			<!-- banner====== -->
			<div class="f-over">
			</div>
			<div class="f-banner">
				<div class="fo-logo col-xs-12 wow fadeInUp ">
					<img src="{% static 'images/logo-f.png' %}">
				</div>
				<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
					<h3>Founch</h3>
					<h4>Bringing together all information, at one place!</h4>
				</div>
				<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<a href="https://www.founch.com" target="_blank">www.founch.com</a>
				</div>

			</div>
			<!-- intro======== -->
			<div class="intro col-xs-12 col-md-10 col-md-offset-1">
				<div class=" col-xs-12 ">
					<h3>Introduction</h3>
				</div>
				<div class="intro-content">
					Founch is an Advance form of wikipedia initially launched for Hollywood celebrities where only interested and important information is shown up at asingle place. I have worked as a frontend intern in this organization and handle some pages of founch website!
				</div>
			</div>

			<!-- color============ -->

			<div class="color col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Color Pallete</h3>
				</div>
				<div class="color-img remove-shadow ">
					<img src="{% static 'images/color-theme.png' %}">
				</div>
			</div>



			<!-- founch-index========= -->

			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Landing Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/founch-index.jpg' %}">
				</div>
			</div>


			<!-- mobile-pages -->
			<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Responsive Pages</h3>
				</div>
				<div class="row">
					<div class="color-img f-mob-img col-xs-12 col-sm-6  ">
						<img src="{% static 'images/index-mob.jpg' %}">
					</div>

				</div>
			</div>


			<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class=" col-xs-2">
						<div class="f-line">
						</div>
					</div>
					<div class="f-end col-xs-8">
						<h4>Check out more on <i class="fa fa-desktop"></i></h4>
					</div>
					<div class=" col-xs-2">
						<div class="f-line">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



	<!-- Zeometree-project=========================== -->

	<div class="z-outer all-scroll ">
		<div class="f-cross">
			<i class="fa fa-times fa-2x">
</i>
		</div>
		<div class="z-top">
			<i class="fa fa-chevron-up fa-1x">
</i>
		</div>

		<div class="f-inner">

			<!-- banner====== -->
			<div class="z-over">
			</div>
			<div class="z-banner">
				<div class="fo-logo col-xs-12 wow fadeInUp ">
					<img src="{% static 'images/logo-z.png' %}">
				</div>
				<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
					<h3>Zeometree</h3>
					<h4>Pour yourself out!</h4>
				</div>
				<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<a href="#">In building state</a>
				</div>

			</div>
			<!-- intro======== -->
			<div class="intro col-xs-12 col-md-10 col-md-offset-1">
				<div class=" col-xs-12 ">
					<h3>Introduction</h3>
				</div>
				<div class="intro-content">
					The most versatile media sharing platform facilitating easy ambient personalization, easy navigation, media authentication, media and profile targeted search and fan following from a diverse population. !
				</div>
			</div>




			<!-- founch-index========= -->

			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Landing Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/landing-s.png' %}">
				</div>
			</div>
			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Home Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/home-s.png' %}">
				</div>
			</div>
			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Profile Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/zeo-profile-1-s.png' %}">
				</div>
			</div>
			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Video Play Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/video-player-s.png' %}">
				</div>
			</div>



			<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class=" col-xs-2">
						<div class="f-line">
						</div>
					</div>
					<div class="f-end col-xs-8">
						<h4>Check out more on <i class="fa fa-desktop"></i></h4>
					</div>
					<div class=" col-xs-2">
						<div class="f-line">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>






	<!-- getmeashop-project=========================== -->

	<div class=" g-outer all-scroll">
		<div class="f-cross">
			<i class="fa fa-times fa-2x">
</i>
		</div>
		<div class="g-top">
			<i class="fa fa-chevron-up fa-1x">
</i>
		</div>

		<div class="f-inner">

			<!-- banner====== -->
			<div class="g-over">
			</div>
			<div class="g-banner">
				<div class="fo-logo col-xs-12 wow fadeInUp ">
					<img src="{% static 'images/logo-g.png' %}">
				</div>
				<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
					<h3>Getmeashop</h3>
					<h4>Everything that your mobile store wants!</h4>
				</div>
				<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<a href="http://www.getmeashop.com" target="_blank">www.getmeashop.com</a>
				</div>

			</div>
			<!-- intro======== -->
			<div class="intro col-xs-12 col-md-10 col-md-offset-1">
				<div class=" col-xs-12 ">
					<h3>Introduction</h3>
				</div>
				<div class="intro-content">
					Getmeashop is an online platform which provides seller an option to take thier store online. It is a combination of Wix and Shopify. I have worked in Getmeashop as a UI/UX intern!
				</div>
			</div>





			<!-- hitit-index========= -->

			<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
				<div class="col-xs-12 ">
					<h3>Landing Page</h3>
				</div>
				<div class="color-img  ">
					<img src="{% static 'images/gmas-land.jpg' %}">
				</div>
			</div>


			<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class=" col-xs-2">
						<div class="f-line">
						</div>
					</div>
					<div class="f-end col-xs-8">
						<h4>Thats all folks!</h4	>
</div>
<div class=" col-xs-2">
<div class="f-line">
</div>
</div>
</div>
</div>

</div>
</div>

<!-- yemmy maids======== -->

<div class=" ym-outer all-scroll">
<div class="f-cross">
<i class="fa fa-times fa-2x">
</i>
</div>
<div class="ym-top">
<i class="fa fa-chevron-up fa-1x">
</i>
</div>

<div class="f-inner">

<!-- banner====== -->
<div class="ym-over">
</div>
<div class="ym-banner">
<div class="fo-logo col-xs-12 wow fadeInUp ">
<img src="{% static 'images/logo-ym.png' %}">
</div>
<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
<h3>Yemmy Maids</h3>
<h4>A domestic referral agency for your house keeping solutions!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="https://github.com/aka-jain/yemmymade" target="_blank">yemmymaids.github</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Yemmy maids is an online platform which provides maids on demand.Here a user can select maid from hundreds of options. This was a freelance project for me and I worked as a frontend developer.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Applicants Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/applicant.png' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Employees Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/employees.jpg' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Customer Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/customer.png' %}">
					</div>
				</div>

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Customers Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/customers.png' %}">
					</div>
				</div>








				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-8">
							<h4>Check out more on <i class="fa fa-desktop"></i></h4>
						</div>
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- prepmycar ======== -->

		<div class=" pmc-outer all-scroll ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="pmc-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="pmc-over">
				</div>
				<div class="pmc-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-pmc-big.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>PrepMyCar</h3>
						<h4>Online services for your car!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="https://github.com/aka-jain/prepcar-buyerprofile" target="_blank">prepmycar.github</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						Prepmycar is an online portal for car services. You can choose any car service from here as per requirement. I have made shop user profile and worked on logo.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Shop Profile Page</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/prepmycar-index.jpg' %}">
					</div>
				</div>

				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Story Teller Graphics</h3>
					</div>

					<div class="row">
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p1.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p2.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6  col-md-4">
							<img src="{% static 'images/p3.png' %}">
						</div>


						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p4.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p5.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/p6.png' %}">
						</div>
					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-8">
							<h4>Thats all folks!</h4>
						</div>
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- ecommerce ======== -->

		<div class=" ec-outer all-scroll ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="ec-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="ec-over">
				</div>
				<div class="ec-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo-ec-big.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Ecommerce Themes</h3>
						<h4>Online Shopping stores!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.getmeashop.com" target="_blank">www.getmeashop.com</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						These are the themes provided by Getmeashop. All these themes are related to Ecommerce and have been revamped for a better look.
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Beats</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/beats.jpg' %}">
					</div>
				</div>





				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Shades</h3>
					</div>
					<div class="color-img  ">
						<img src="{% static 'images/shades.jpg' %}">
					</div>
				</div>

				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Responsive Pages</h3>
					</div>

					<div class="row">

						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/tap-mob.jpg' %}">
						</div>



					</div>
				</div>


				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end col-xs-8">
							<h4>Check out more on <i class="fa fa-desktop"></i></h4>
						</div>
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



		<!-- portfolio ======== -->

		<div class=" po-outer all-scroll flash ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="po-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="po-over">
				</div>
				<div class="po-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Portfolio</h3>
						<h4>Think! Design! Develop!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.jainakash.in" target="_blank">www.jainakash.in</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						This is my personal portal where some of my best work is shown with regular updates.Both desktop and mobile version are different. In desktop there is a stack effect while for mobile I try to make it as a Progressive Web Application .
					</div>
				</div>





				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 po-color ">
						<h3>You are already here.<br><span class="po-margin">Explore it, lot more to see!</span></h3>
					</div>

				</div>




				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end  col-xs-8">
							<h4>Feel it different on <i class="fa fa-desktop"></i>!</h4>
						</div>
						<div class=" col-xs-2">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- messageup.js ======== -->

		<div class=" msg-outer all-scroll flash ">
			<div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div>
			<div class="msg-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!--messageup.js-->


				<div class="head">MessageUp.js</div>
				<a class="left" href="https://github.com/aka-jain/MessageUp.js" target="_blank">github.com/aka-jain/MessageUp.js</a>

				<div id="message-box"></div>
				<p> MessageUp.js is just a 1KB Javascript library which runs without using any third party plugin.
					<br> If you want to change your text dynamically after some time then MessageUp.js will do it all for you.
					<br> You can also customize speed, color and effects time of messages.
					<br>
					<br> Read documentation on GitHub.
					<br>And if you want to contribute in this library then you are most welcome.
				</p>

				<div class="example">
					It's very easy to apply.
					<br>
					<br> Step1- include message.js or message-min.js script after your ending body tag like:
					<br> &#10094;script src="/path/messageup.js"&#10095;&#10094;/script&#10095; or &#10094;script src="/path/messageup-min.js"&#10095;&#10094;/script&#10095;
					<br>
					<br> Step2- initialize your own script just above your message.up script tags as
					<br> &#10094;script&#10095;
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var msg=["Message 1", "Message 2", "Message 3", "Message 4", "Message 5" ]; <span class="light-msg">&nbsp;//define messages here </span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var color=["red", "green", "yellow", "green", "blue"]; <span class="light-msg">&nbsp;// define color here (optional)</span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var time=1500;<span class="light-msg"> &nbsp;// define time here (optional)</span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var speed="slow";<span class="light-msg"> &nbsp;// define speed here as slow or fast (optional) </span>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; var iteration="repeat"; <span class="light-msg">&nbsp;// define iteration type here as repeat or no-repeat (optional)</span>
					<br> &#10094;/script&#10095;

					<br>
					<br> Step3- include an id to your div as message-box in HTML like:
					<br> &#10094;div id="message-box"&#10095;&#10094;/div&#10095;
					<br>
					<br> Now you are ready to go :)
				</div>

				<div class="sign">By Akash Jain
					<br>
					<a href="http://www.jainakash.in" target="_blank">
(www.jainakash.in)<br><br></a> Made with <i class="fa fa-heart"></i> while listening <i class="fa fa-music"></i></div>


			</div>
		</div>




		<!-- scripts -->


		<script type="text/javascript">
			if (screen.width > 780) {
				document.location = "/";
			}

		</script>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script>
			var wow = new WOW();
			wow.init();

		</script>








		Latest compiled and minified JavaScript

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>




		<script src="{% static 'js/main-mob.js' %}"></script>

		<script>
			var wow = new WOW();
			wow.init();

		</script>
		<script>
			$('#submit_btn').on('click', function(event) {
				event.preventDefault();
				create_post();
			});

			function create_post() {

				var name = $("input#name").val();
				var email = $("input#email").val();
				var message = $("textarea#msg").val();
				var dataString = "name" + name + "email" + email + "message" + message;
				var name_filter = /[0-9]/;
				if (email == "" || name == "" || message == "") {
					$(".warn-msg").html("Fill out all the enteries please!").hide().fadeIn(500);
					e.preventDefault();
				} else if (email == "" || name_filter.test(name) || message == "") {
					$(".warn-msg").html("name can't be numerical, please check!").hide().fadeIn(500);
					e.preventDefault();
				} else if (validateEmail(email) && name != "" && message != "" && email != "") {
					$("form").css({
						'opacity': '0.1'
					});
					$(".loader-text").css({
						'display': 'block'
					});
					$(".loader-text").hide().fadeIn();

					$.ajax({
						url: "/", // the endpoint
						type: "POST", // http method
						data: {
							csrfmiddlewaretoken: "{{ csrf_token }}",
							name: $('#name').val(),
							email: $('#email').val(),
							// subject : $('#subject').val() ,
							message: $('#msg').val(),
						}, // data sent with the post request

						// handle a successful response
						success: function(json) {
							$(".loader-text").fadeOut();
							$("form").css({
								'opacity': '1'
							})
							console.log('SS');
							$('form').html("<div id='message'></div>");
							$('#message').html("<h2>Hello,&nbsp;" + name + "</h2>")
								.append("<p>I have received your message.<br>Thanks for reaching me, will get back to you soon.</p>")
								.hide()
								.fadeIn();
						},

						// handle a non-successful response
						error: function(xhr, errmsg, err) {
							console.log("failed");
							console.log(xhr.status + ": " + xhr.responseText);
						}
					});
				} else if (email != "" && name != "" && message != "") {
					$(".warn-msg").html("check your mailing address please!").hide().fadeIn(500);
					e.preventDefault();
				}

				function validateEmail(email) {
					var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,10}$/;

					if (filter.test(email)) {
						return true;
					} else {
						return false;
					}
				}
			}

		</script>

		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-73702186-1', 'auto');
			ga('send', 'pageview');

		</script>

</body>

</html>
