{% load staticfiles %}



<!doctype html>
<html>

<head>

	<title>
		Akash Jain
	</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicons.png' %}">

	<meta name="Description" content="Hi I'm Akash Jain, a Frontend Developer with good design sense" />

	<meta name="google-site-verification" content="fFXTiyapPQDg5omCYCwHDzRwfcIlkpWvuBjxwIV-Z-Y" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/founch.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
</head>

<body >


<!-- portfolio ======== -->

		<div class=" po-outer all-scroll  ">
			<!-- <div class="f-cross">
				<i class="fa fa-times fa-2x">
</i>
			</div> -->
			<div class="po-top">
				<i class="fa fa-chevron-up fa-1x">
</i>
			</div>

			<div class="f-inner">

				<!-- banner====== -->
				<div class="po-over">
				</div>
				<div class="po-banner">
					<div class="fo-logo col-xs-12 wow fadeInUp ">
						<img src="{% static 'images/logo.png' %}">
					</div>
					<div class="fo-head col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<h3>Portfolio</h3>
						<h4>Think! Design! Develop!</h4>
					</div>
					<div class="fo-link col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						<a href="http://www.jainakash.in" target="_blank">www.jainakash.in</a>
					</div>

				</div>
				<!-- intro======== -->
				<div class="intro col-xs-12 col-md-10 col-md-offset-1">
					<div class=" col-xs-12 ">
						<h3>Introduction</h3>
					</div>
					<div class="intro-content">
						This is my personal portal where some of my best work is shown with regular updates.Both desktop and mobile version are different. In desktop there is a stack effect while for mobile I try to make it as a Progressive Web Application .
					</div>
				</div>


				<div class="f-mob col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 ">
						<h3>Mobile Website</h3>
					</div>

					<div class="row">
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/ma.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mb.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mc.png' %}">
						</div>



						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/md.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/me.png' %}">
						</div>
						<div class="color-img f-mob-img  col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mf.png' %}">
						</div>



						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mg.png' %}">
						</div>
						<div class="color-img f-mob-img   col-xs-12 col-sm-6 col-md-4">
							<img src="{% static 'images/mh.png' %}">
						</div>



					</div>
				</div>



				<!-- hitit-index========= -->

				<div class="f-index col-xs-12 col-md-10 col-md-offset-1">
					<div class="col-xs-12 po-color ">
						<h3>Go Ahead!<br><span class="po-margin">Explore it, lot more to see!</span></h3>
					</div>

				</div>




				<div class="f-last col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
						<div class="f-end  col-xs-4">
							<h4>Check a new look of this website on Mobile.</h4>
						</div>
						<div class=" col-xs-4">
							<div class="f-line">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

<script>

	
	$(".po-top").click(function(){
	
		$("body").animate({
			'scrollTop':'0px'
		},500)
	})
</script>

</body>
</html>
