<!-- {% load staticfiles %} -->

<!doctype html>
<html>

<head>

	<title>
		Akash Jain
	</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicons.png' %}">

	<meta name="Description" content="Hi I'm Akash Jain, a Frontend Developer with good design sense" />

	<meta name="google-site-verification" content="fFXTiyapPQDg5omCYCwHDzRwfcIlkpWvuBjxwIV-Z-Y" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/founch.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
</head>

<body >







<div class="pro-slider">

	<div class="row head1">
		<div class="logo col-xs-4">
			<a href="{% url "home" %}"><img src="{% static 'images/logo.png' %}"></a>
		</div>
		<div class="text-head col-xs-4">
			Projects
		</div>
		<div class=" col-xs-4"><a href="{% url "home" %}">
			<i class="right fa fa-home">
			</i></a>
		</div>
	</div>
	<div class="row">
		<div class="arrow leftar">
			<i class="fa fa-chevron-left"></i>
		</div>
		<div class="arrow rightar">
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="col-md-12 outer-projects">
			<div class="inner-projects">
				<ul>
					<li class=" info-tab">
						<img src="{% static 'images/connect-small.png' %}">
						<div class="text">InfoConnect</div>
					</li>
					<li class=" zeal-tab">
						<img src="{% static 'images/zeal-small.png' %}">
						<div class="text">Zealicon</div>
					</li>
					<li class=" coursera-tab">
						<img src="{% static 'images/course-small.png' %}">
						<div class="text">Re-Coursera</div>
					</li>
					
					<li class=" data-tab">
						<img src="{% static 'images/sachin.png' %}">
						<div class="text">Data Analysis</div>
					</li>
					<li class=" f-tab">
						<img src="{% static 'images/founch-logo-small.png' %}">
						<div class="text">Founch</div>
					</li>
					<li class="gmas-tab" >
						<img src="{% static 'images/gmas-logo-small.png' %}">
						<div class="text">GetMeAShop</div>
					</li>
					<li class=" yemmy-tab">
						<img src="{% static 'images/logo-ym.png' %}">
						<div class="text">Yemmy Maids</div>
					</li>
					<li class=" zeo-tab">
						<img src="{% static 'images/zeo-small-logo.png' %}">
						<div class="text">Zeometree</div>
					</li>
					<li class=" msgup-tab" >
						<img src="{% static 'images/msgup-logo.png' %}">
						<div class="text">MessageUp.js</div>
					</li>
					<li class=" portfolio-tab">
						<img src="{% static 'images/logo.png' %}">
						<div class="text">Portfolio</div>
					</li>
					<li class=" pmc-tab">
						<img src="{% static 'images/pmc-logo-small.png' %}">
						<div class="text">PrepMyCar</div>
					</li>
					<li class=" ecommerce-tab">
						<img src="{% static 'images/logo-ec-big.png' %}">
						<div class="text">E-Commerce</div>
					</li>
				</ul>
		</div>
		</div>
		
	</div> 
</div>
<!-- founch-project=========================== -->


<div class="loader" id="loader">
			<div class="loader-logo load-effect wow fadeInUp">
				<img src="{% static 'images/logo-loader.gif' %}"><br>
				<h3>Loading...</h3>
			</div>

		</div>
<div class="pro-content">
	

</div>


	<script src="//code.jquery.com/jquery-1.12.0.min.js" ></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js" ></script>
	<script>
		// script for messageup
		var msg = ["Hi!", "I'm Messageup.js", "Use me to...", "display your text", " change your text", "do cool things", ":)"]; //define messages

		var color = ["#E53935", "#5E35B1", "#009688", "#AFB42B", "#37474F", "#EF6C00", "#558B2F"]; //define color corresponding to each message

		var time = 1500; //define time for which message will display on screen (optional)

		var speed = "slow"; // define speed of fade effect  (optional)

		var iteration = "repeat"; //define iteration type  (optional)
	</script>
	<script src="{% static 'js/messageup-min.js' %}"></script>
	<!-- redirect to mobile page -->
	

	 <script src="{% static 'js/projects-min.js' %}" ></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" ></script>



</body>
</html>